body {
	/*background-color: rgb(235, 226, 197);*/
	background-image: linear-gradient(#f4a908, #4b2920, #905e1a, #444e3b, #74a742, #a2cf77,/* #bb7623,*/ #706e83, #cc8e43, #5a5d7c, #474959, #3f4048);
	/*#bb7623, #cc8e43, #5a5d7c, #474959, #3f4048*/
	margin: 0;
	color: white;
	/* font-size: 3vw; */
}

.menu {
	/* display: flex; */
	font-size: 3vw;
	margin: 0 auto;
	max-width: 80%
}

.menu li {
	background-color: #a66930;
    background-image: url(flower.png);
    background-size: 60px;
    background-repeat: no-repeat;
    padding: 55px;
    background-position: left center;
    display: inline-flex;
    width: 100px;
    height: 40px;
    /* display: grid; */
    margin: 5px;
    border-radius: 10px;
    /* gap: 0 0; */
}

h2 {
   color: white;
	border-left: 6px;
	border-color: rgba(4, 0, 255, 0.219);
	border-left-style: inset;
	/* background-color: #5d8a32; */
	line-height: 2;
	
	text-align: left;
	vertical-align: bottom;
}

#taskh {
	background-color: #a66930;
}

h3 {
   color: white;
	border-left: 4px;
	/* border-color: rgba(4, 0, 255, 0.219); */
	border-color: transparent;
	border-left-style: inset;
	display: block;
	/* background-color: #5d8a32; */
	line-height: 1,5;
	margin-left: 20px;
	text-align: left;
	font-weight: bold;
}

p {
	margin: 20px;
}

#requirements {
	text-align: center;
}

ul {
	text-align: left;
}

.leftP {
	text-align: left;
}

#submission {
	text-align: center;
	margin: 0;
}

.centeredP {
	text-align: center;
	margin: auto;
	width: 60%;
}

#groupUL {
	list-style-type: none;
	text-align: center;
}

#main-heading {
	text-align: center;
}

.banner {
    src: url('tulki_spit.jpg');
    opacity: 82%;
    height: 5em;
    width: 10em;
    margin: auto;
    align-self: center;
}

.bannerPic {
	width: 100%;
	margin: auto;
}

#logo {
	width: 60px;
	height: 45px;
}

#task {
		background-image: url('forest2.jpg');
		width: 100%;
		height: 500px;
		display: block;
}

#natureimg {
/*  margin-left: auto;
  margin-right: auto;*/
  background-image: url(tulkiler.gif);
  margin: auto;
  max-width: 100%;
  /* height: auto; */
  /*width: 40%;*/
  display: block;
  cursor: url(catty3.png), auto;
  background-repeat: no-repeat;
}

#mdimg {
	align-self: center;
	margin: auto;
}

[class$="P"] {
	font-family: monospace;
}

@font-face {
	font-family: scriptfont;
	src:  url(Lonelyday.otf);
}

a {
	font-family: scriptfont;
	font-size: 30px;
}

a:link {
  color: white;
}

a:visited {
  color: #f4a908;
}

a:hover {
	color: black;
}

a[id]:hover {
  color: black;
  box-shadow: inset 200px 0 0 0 white;
}

a:active {
  color: #0000FF;
}

#horisontal-cat {
	width:300px;
	list-style: none; 
	padding-top:30px;
	display:inline-block;
}
#horisontal-cat li {
	border-radius:3px 3px 3px 3px; 
	margin-top:5px;
	width:150px;
	background: #000000;
	background: -moz-linear-gradient(top, #161616 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #161616 0%,#000000 100%);
	background: -o-linear-gradient(top, #161616 0%,#000000 100%);
	border-left:1px solid #111;
        border-top:1px solid #111; 
        border-right:1px solid #333; 
        border-bottom:1px solid #333;
 }
#horisontal-cat li a { 
	color:#fff; 
	display:block; 
	padding:10px;
}

#horisontal-cat li a:hover { 
	color:#00c6ff;
}

#horisontal-cat li.animation { 
	-moz-transition: all 0.4s ease-in-out; 
	-moz-transform:translateX(0px); 
	-o-transition: all 0.4s ease-in-out; 
	-o-transform:translateX(0px); 
	-webkit-transition: all 0.4s ease-in-out; 
	-webkit-transform:translateX(0px); 
}

#horisontal-cat li.animation:hover { 
	-moz-transform:translateX(25px);
	-o-transform:translateX(25px);
	-webkit-transform:translateX(25px);
}
.horizontal-items li {
	display: inline-block;
	padding: 20px;
	margin-left: 50px;
}
.quick_links li{
	background-image: url('icon.png');
    background-repeat: no-repeat;
    background-size: 40px;
    padding: 55px;
    background-position: left center;
    display: inline;
}
.lay {
    display: flex;
    flex-wrap: wrap;
    border: 3px;
}

h4 {
    text-align: center;
}
p {
    /* border: 3px; */
  }
.first {
    width: 25%;
  }
  
.second {
    width: 50%;
  }
  
.third {
    width: 25%;
  }

a[id] {
	font-family: scriptfont;
	font-size: 30px;
    box-shadow: inset 0 0 0 0 lightgrey;
    padding: 0 0.25rem;
    margin: 0 -0.25rem;
    transition: color .6s ease-in-out, box-shadow .6s ease-in-out;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solide white;
    border-radius: 1rem 1rem 1rem 1rem;
}

@media screen and (min-width: 1024px) {
	#task {
		display: inline-grid;
		width: 100%;
		float: left;
	}
	
	#requirements {
		display: inline-grid;
		width: 33%;
		float: left;
	}

	#submission {
		display: inline-grid;
		width: 33%;
		float: left;
	}

	#grading {
		display: inline-grid;
		width: 33%;
		float: left;
	}

	.aside_content {
		display: inline-grid;
		width: 100%;
	}
}

@media screen and (max-width: 1023px) {
	#task {
		display: inline-grid;
		width: 100%;
		float: left;
	}
	
	#requirements {
		display: inline-grid;
		width: 48%;
		float: left;
		padding: 1%;
	}

	#submission {
		display: inline-grid;
        width: 48%;
        float: left;
        padding: 1%;

	}

	#grading {
		display: inline-grid;
		width: 48%;
		float: left;
		padding: 1%;
	}

	.aside_content {
		display: inline-grid;
		width: 100%;
	}
}

#mdimg {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 767px) {
	.inTask {
		font-size: 10px;
	}

	#requirements {
		margin: auto;
		width: 95%;
	}

	.submissionHeader {
		width: 95%;
		margin-left: 4%;
	}

	#submission {
		margin: auto;
		width: 100%;
		padding: 0;
	}

	#grading {
		margin: auto;
		width: 95%;
	}

	.banner {
		display: grid;
		background-image: url('tulki_spit2.jpg');
		opacity: 82%;
		/* height: auto; */
		/* width: 100%; */
	}

	.menu {
		display: grid;
		width: 80%;
		/* align-self: center; */
		/* margin: auto; */
		/* float: left; */
	}

	.main_content {
		display: grid;
		/* display: ; */
	}

	.menu li {
		display: block;
		background-size: 4em;
		/* background-repeat: no-repeat; */
		padding: 3em;
		margin: 5px;
		/* margin-left: 9em;
		margin-right: 9em;
		margin-top: 0;
		margin-bottom: 0; */
	}

	.lay {
		display: block;
		border: 3px;
		margin: auto;
	}

	.first {
		width: 80%;
	}

	.second {
		width: 80%;
	}

	.third {
		width: 80%;
	}
}